* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #318CE7;
}

h1 {
    text-align: center;
}

.logo {
    width: 180px;
}
#logo {
    width: 180px; /* Ajusta el ancho según tu diseño */
    height: auto; /* Mantiene la proporción original */
    transition: transform 1s ease; /* Agrega una transición suave al cambio de transformación */
}

#logo:hover {
    transform: scale(1.2) rotate(360deg); /* Escala y rota el logo al pasar el ratón por encima */
}


.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
}



.nav {
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    --state-menu: translate(-100%);
   

    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    
}

.nav:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer: scale(0);
}

.nav__logo {
    font-size: 2.5rem;
    z-index: 1;
}

.nav__hamburguer,
.nav__close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav__hamburguer {
    transform: var(--state-hamburguer);
    display: none;
}

.nav__close {
    transform: var(--state-close);
}

.nav__icon {
    width: 40px;
}

.nav__links {
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;

    transform: var(--state-menu);
    transition: .3s transform;
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}



/*ACTIVIDADES DESTACADAS */

/* Estilos CSS para la cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas con igual ancho */
    gap: 20px;
    /* Espacio entre las tarjetas */
}

/* Estilos CSS para las tarjetas */
.tarjeta {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px; /* Ajusta la altura según tus necesidades */
    position: relative; /* Añade position: relative para que position: absolute funcione en los hijos */
    width: 100%; /* Ancho de la tarjeta al 100% del contenedor */
}

/* Estilos CSS para las imágenes dentro de las tarjetas */
.tarjeta img {
    width: 80%; /* Ancho de la imagen al 100% del contenedor */
    height: 80%; /* Altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor manteniendo la relación de aspecto */
    position: absolute; /* Posiciona la imagen absolutamente dentro de .tarjeta */
    top: 0;
    left: 0;
    border-radius: 8px; /* Puedes ajustar esto según sea necesario */
    margin: 15px;
}
.tarjeta:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.tarjeta:hover p {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#map {
    text-align: center;
}

/* Estilos para hacer el mapa responsive */
#map iframe {
    width: 80%;
    height: 450px;
}


/* Estilos para el botón de flecha para arriba */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

#scrollToTopBtn:hover {
    background-color: #555;
}

/* EXPERIENCIAS */

.exp-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    /* Dos tarjetas por fila, ajustando el ancho */
    grid-gap: 20px;
    /* Espaciado entre las tarjetas */
    
}

.card {
    max-width: 300px;
    /* O el tamaño máximo que desees */
    margin: 0 auto;
    /* Centrar la tarjeta */
    
}
.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


.card img {
    max-width: 324px;
    height: 300px;
    height: auto;
    /* Ajusta la altura automáticamente para mantener la proporción */
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h3 {
    color: #333;
}

/* FOOTER */
.footer {
    background-color: #6aa9e9;
    color: white;
    padding: 30px 20px;
    
    /* Ajusta el espaciado en pantalla pequeña */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-social {
    margin-bottom: 20px;
    /* Ajusta el espaciado entre los íconos sociales */
}

.footer-social a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
}

.footer-info {
    text-align: center;
    /* Alinea el texto al centro en pantallas pequeñas */
}

.footer-info p {
    margin: 0;
}

/* Estilos para los íconos sociales */
.fa {
    transition: color 0.3s ease-in-out;
}

.fa:hover {
    color: #ffcc00;
}

/* Estilos responsive */

@media (min-width: 768px) {
    .nav {
        --state-hamburguer: scale(1);
        --state-menu: translate(0);
        background-color: #6aa9e9;
        ;
        z-index: 2;
    }

    .nav:target {
        --state-close: scale(0);
    }

    .nav__links {
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link {
        font-size: 1rem;
        letter-spacing: none;
    }
}

@media (max-width: 768px) {
    .nav{
        z-index: 3;
    }

    .nav__hamburguer{
        display: flex;
    }
    h2 {
        text-align: center;
    }

    .grid-container {
        margin-top: 60px;
        grid-template-columns: 1fr;
        /* Una tarjeta por fila en pantallas más pequeñas */
    }
    .tarjeta {
        margin-top: 60px; /* Ajusta el valor según sea necesario */
    }

    .tarjeta img {
        margin-top: 0; /* Reinicia el margen superior para las imágenes */
    }

    #map iframe {
        height: 300px;
        /* Ajusta la altura para pantallas más pequeñas si es necesario */
    }

    .card {
        width: 100%;
        /* Ancho completo en pantallas más pequeñas */
        margin-right: 0;
        /* Eliminar margen derecho en pantallas más pequeñas */
        padding: 15px;
    }

    .card img {
        max-width: 184px;
        height: 180px;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .footer-social {
        text-align: center;
        font-size: large;
        /* Alinea los íconos sociales al centro en pantallas pequeñas */
    }

    .footer-info {
        text-align: center;
        /* Alinea el texto al centro en pantallas pequeñas */
    }
}